extends ../layout_admin
block content
  .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
    h1.h2=data.stagename
    .btn-toolbar.mb-2.mb-md-0.d-print-none.text-right
      a.btn.btn-primary(href='/'+data.slug)=__("SHOW")
  include partials/menuobj
  h3.labelField.mb-3=__(config.cpanel[get.sez].title)+" "+__(config.cpanel[get.sez].forms[get.form].title)
  form(method="post")
    dl.row
      dt.col-sm-2
        .labelField Old Password
      dd.col-sm-10.mb-4
        div
          .input-group
            input.form-control(type='password' name='oldpassword' autocomplete='new-password' placeholder='Old Password' aria-describedby='slugHelpInline' value='')
    hr
    dl.row
      dt.col-sm-2
        .labelField New Password
      dd.col-sm-10.mb-4
        div
          .input-group
            input.form-control(type='password' name='password' autocomplete='new-password' placeholder='New Password' aria-describedby='slugHelpInline' value='')
    dl.row
      dt.col-sm-2
        .labelField Confirm Password
      dd.col-sm-10.mb-4
        div
          .input-group
            input.form-control(type='password' name='confirmPassword' autocomplete='new-password' placeholder='Confirm Password' aria-describedby='slugHelpInline' value='')
    hr
    button.btn.btn-primary.btn-lg.btn-block(type='submit') Save
